// !compileOnSave
// compileOnSave: false
//==========================================================================//
// Extends Bootstrap's forms
//==========================================================================//
.btn-inline-submit {
    margin-top: 18px;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

/* fix inline-forms that use a input-group addon */
@include media-query( 'mobile' ) {
    .form-inline .input-group {

        &.mobile-12 {
            padding: 0;
        }

    }
}
