<!-- user controls -->
<form class="row margin-bottom-0 margin-top-20" (submit)="$event.preventDefault();">
  <div class="form-group row desktop-12">

    <div *ngIf="filterArray.filterBy" class="desktop-3 tablet-5 mobile-12">
      <div class="input-group">
        <div class="input-group-addon">Search by:</div>
        <select [(ngModel)]="filterArray.filterBy.keys" class="form-control" id="filterByKey" name="filterByKey" value="filterArray.filterBy.keys">
          <option value="email">Email</option>
          <option value="name">Name</option>
        </select>
      </div>
    </div>

    <div *ngIf="filterArray.filterBy" class="desktop-6 tablet-7 mobile-12 tablet-margin-top-0 mobile-margin-top-20">
      <div class="input-group">
        <div class="input-group-addon">Search:</div>
        <input [(ngModel)]="filterArray.filterBy.value" type="text" class="form-control" id="filterByValue" name="filterByValue" value="filterArray.filterBy.value">
      </div>
      <span class="small">Leave blank to show all</span>
    </div>

    <div *ngIf="filterArray.orderBy" class="desktop-3 tablet-12 mobile-12 desktop-margin-top-0 tablet-margin-top-20 mobile-margin-top-20">
      <div class="input-group">
        <div class="input-group-addon">Order by:</div>
        <select [(ngModel)]="filterArray.orderBy" class="form-control" id="orderBy" name="orderBy">
          <option value="email">Email</option>
          <option value="name">Name</option>
        </select>
      </div>
    </div>

    <div class="desktop-6 hidden">
      <button type="submit" class="btn btn-primary float-left margin-top-20">Submit</button>
    </div>
  </div>
</form>
